.container {
    background-color:white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    border-radius:2px;
}

.pokemon-info .stats {
    margin-top: 30px;
}

.pokemon-info span {
    font-size: 15px;
    margin-left: 40px;
}

.pokemon-info h4 {
    border-bottom: 2px solid black;
    padding: 20px;
    text-align: center;
}

.pokemon-info img {
    float: right;
    margin-top:-30px;
}

.pokemon-info .stats li {
    list-style-type: none;
    color: black;
    padding: 30px;
    text-transform: uppercase;
    font-weight: bold;
}


